<!DOCTYPE html>
<html lang="en-us" dir="ltr">
    <head><script src="/livereload.js?mindelay=10&amp;v=2&amp;port=1313&amp;path=livereload" data-no-instant defer></script><meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'><meta name='description' content='条件渲染相关的指令有哪些？
v-if、v-else、v-else-if v-show v-if 的作用
1 &amp;lt;div v-if=&amp;#34;expression&amp;#34;&amp;gt;&amp;lt;/div&amp;gt; v-if 根据表达式 expression 返回的值是否为 truthy 来决定其内容是否被渲染。
Vue还实现了 v-else 和 v-else-if：
1 2 3 &amp;lt;div v-if=&amp;#34;expression1&amp;#34;&amp;gt;&amp;lt;/div&amp;gt; &amp;lt;div v-else-if=&amp;#34;expression2&amp;#34;&amp;gt;&amp;lt;/div&amp;gt; &amp;lt;div v-else&amp;gt;&amp;lt;/div&amp;gt; 注意，v-else-if 须紧跟在 v-if 后，v-else须紧跟在 v-if 或 v-else-if 后。
如果想使用 v-if 控制多个元素的渲染，可以使用 &amp;lt;template&amp;gt; 元素，因为它不会被包含在渲染结果内。
v-if 相关源码
首先是 src\compiler\parser\index.ts ：
处理 HTML 元素上的 if 系列指令，获取它们的表达式 exp ,如果是 v-if 指令的话，还要将其添加到它的 ifConditions 数组。
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 function processIf(el) { const exp = getAndRemoveAttr(el, &amp;#39;v-if&amp;#39;) if (exp) { el.'>
<title>【Vue 2】条件渲染</title>

<link rel='canonical' href='http://localhost:1313/p/vue-2%E6%9D%A1%E4%BB%B6%E6%B8%B2%E6%9F%93/'>

<link rel="stylesheet" href="/scss/style.min.ae4884cde461212dfa0112922d28cf77708fd55bf4b1008e5798048826d2ebcf.css"><meta property='og:title' content='【Vue 2】条件渲染'>
<meta property='og:description' content='条件渲染相关的指令有哪些？
v-if、v-else、v-else-if v-show v-if 的作用
1 &amp;lt;div v-if=&amp;#34;expression&amp;#34;&amp;gt;&amp;lt;/div&amp;gt; v-if 根据表达式 expression 返回的值是否为 truthy 来决定其内容是否被渲染。
Vue还实现了 v-else 和 v-else-if：
1 2 3 &amp;lt;div v-if=&amp;#34;expression1&amp;#34;&amp;gt;&amp;lt;/div&amp;gt; &amp;lt;div v-else-if=&amp;#34;expression2&amp;#34;&amp;gt;&amp;lt;/div&amp;gt; &amp;lt;div v-else&amp;gt;&amp;lt;/div&amp;gt; 注意，v-else-if 须紧跟在 v-if 后，v-else须紧跟在 v-if 或 v-else-if 后。
如果想使用 v-if 控制多个元素的渲染，可以使用 &amp;lt;template&amp;gt; 元素，因为它不会被包含在渲染结果内。
v-if 相关源码
首先是 src\compiler\parser\index.ts ：
处理 HTML 元素上的 if 系列指令，获取它们的表达式 exp ,如果是 v-if 指令的话，还要将其添加到它的 ifConditions 数组。
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 function processIf(el) { const exp = getAndRemoveAttr(el, &amp;#39;v-if&amp;#39;) if (exp) { el.'>
<meta property='og:url' content='http://localhost:1313/p/vue-2%E6%9D%A1%E4%BB%B6%E6%B8%B2%E6%9F%93/'>
<meta property='og:site_name' content='Shadow Kylin'>
<meta property='og:type' content='article'><meta property='article:section' content='Post' /><meta property='article:tag' content='Vue 2' /><meta property='article:published_time' content='2023-09-05T00:00:00&#43;00:00'/><meta property='article:modified_time' content='2023-09-05T00:00:00&#43;00:00'/>
<meta name="twitter:title" content="【Vue 2】条件渲染">
<meta name="twitter:description" content="条件渲染相关的指令有哪些？
v-if、v-else、v-else-if v-show v-if 的作用
1 &amp;lt;div v-if=&amp;#34;expression&amp;#34;&amp;gt;&amp;lt;/div&amp;gt; v-if 根据表达式 expression 返回的值是否为 truthy 来决定其内容是否被渲染。
Vue还实现了 v-else 和 v-else-if：
1 2 3 &amp;lt;div v-if=&amp;#34;expression1&amp;#34;&amp;gt;&amp;lt;/div&amp;gt; &amp;lt;div v-else-if=&amp;#34;expression2&amp;#34;&amp;gt;&amp;lt;/div&amp;gt; &amp;lt;div v-else&amp;gt;&amp;lt;/div&amp;gt; 注意，v-else-if 须紧跟在 v-if 后，v-else须紧跟在 v-if 或 v-else-if 后。
如果想使用 v-if 控制多个元素的渲染，可以使用 &amp;lt;template&amp;gt; 元素，因为它不会被包含在渲染结果内。
v-if 相关源码
首先是 src\compiler\parser\index.ts ：
处理 HTML 元素上的 if 系列指令，获取它们的表达式 exp ,如果是 v-if 指令的话，还要将其添加到它的 ifConditions 数组。
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 function processIf(el) { const exp = getAndRemoveAttr(el, &amp;#39;v-if&amp;#39;) if (exp) { el.">
    <link rel="shortcut icon" href="/favicon.png" />

    </head>
    <body class="
    article-page
    ">
    <script>
        (function() {
            const colorSchemeKey = 'StackColorScheme';
            if(!localStorage.getItem(colorSchemeKey)){
                localStorage.setItem(colorSchemeKey, "auto");
            }
        })();
    </script><script>
    (function() {
        const colorSchemeKey = 'StackColorScheme';
        const colorSchemeItem = localStorage.getItem(colorSchemeKey);
        const supportDarkMode = window.matchMedia('(prefers-color-scheme: dark)').matches === true;

        if (colorSchemeItem == 'dark' || colorSchemeItem === 'auto' && supportDarkMode) {
            

            document.documentElement.dataset.scheme = 'dark';
        } else {
            document.documentElement.dataset.scheme = 'light';
        }
    })();
</script>
<div class="container main-container flex on-phone--column extended"><aside class="sidebar left-sidebar sticky ">
    <button class="hamburger hamburger--spin" type="button" id="toggle-menu" aria-label="Toggle Menu">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>

    <header>
        
            
            <figure class="site-avatar">
                <a href="/">
                
                    
                    
                    
                        
                        <img src="/img/avatar_hu55467a9a1163e46ddda66cf36bec70b3_21404_300x0_resize_q75_box.jpg" width="300"
                            height="300" class="site-logo" loading="lazy" alt="Avatar">
                    
                
                </a>
                
                    <span class="emoji">⭐</span>
                
            </figure>
            
        
        
        <div class="site-meta">
            <h1 class="site-name"><a href="/">Shadow Kylin</a></h1>
            <h2 class="site-description">南风知我意，吹梦到西洲。</h2>
        </div>
    </header><ol class="social-menu">
            
                <li>
                    <a 
                        href='https://github.com/Shadow-Kylin'
                        target="_blank"
                        title="GitHub"
                        rel="me"
                    >
                        
                        
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-github" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
  <path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" />
</svg>



                        
                    </a>
                </li>
            
        </ol><ol class="menu" id="main-menu">
        
        
        
        <li >
            <a href='/' >
                
                
                
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
  <path stroke="none" d="M0 0h24v24H0z"/>
  <polyline points="5 12 3 12 12 3 21 12 19 12" />
  <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
  <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" />
</svg>



                
                <span>Home</span>
            </a>
        </li>
        
        
        <li >
            <a href='/about/' >
                
                
                
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-archive" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
  <path stroke="none" d="M0 0h24v24H0z"/>
  <rect x="3" y="4" width="18" height="4" rx="2" />
  <path d="M5 8v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-10" />
  <line x1="10" y1="12" x2="14" y2="12" />
</svg>



                
                <span>about</span>
            </a>
        </li>
        
        
        <li >
            <a href='/archives/' >
                
                
                
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-archive" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
  <path stroke="none" d="M0 0h24v24H0z"/>
  <rect x="3" y="4" width="18" height="4" rx="2" />
  <path d="M5 8v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-10" />
  <line x1="10" y1="12" x2="14" y2="12" />
</svg>



                
                <span>Archives</span>
            </a>
        </li>
        
        
        <li >
            <a href='/search/' >
                
                
                
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
  <path stroke="none" d="M0 0h24v24H0z"/>
  <circle cx="10" cy="10" r="7" />
  <line x1="21" y1="21" x2="15" y2="15" />
</svg>



                
                <span>Search</span>
            </a>
        </li>
        
        
        <li >
            <a href='/links/' >
                
                
                
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-link" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
  <path stroke="none" d="M0 0h24v24H0z"/>
  <path d="M10 14a3.5 3.5 0 0 0 5 0l4 -4a3.5 3.5 0 0 0 -5 -5l-.5 .5" />
  <path d="M14 10a3.5 3.5 0 0 0 -5 0l-4 4a3.5 3.5 0 0 0 5 5l.5 -.5" />
</svg>



                
                <span>Links</span>
            </a>
        </li>
        

        <div class="menu-bottom-section">
            
            
                <li id="dark-mode-toggle">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-toggle-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
  <path stroke="none" d="M0 0h24v24H0z"/>
  <circle cx="8" cy="12" r="2" />
  <rect x="2" y="6" width="20" height="12" rx="6" />
</svg>



                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-toggle-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
  <path stroke="none" d="M0 0h24v24H0z"/>
  <circle cx="16" cy="12" r="2" />
  <rect x="2" y="6" width="20" height="12" rx="6" />
</svg>



                    <span>Dark Mode</span>
                </li>
            
        </div>
    </ol>
</aside>

    

            <main class="main full-width">
    <article class="main-article">
    <header class="article-header">

    <div class="article-details">
    
    <header class="article-category">
        
            <a href="/categories/frontend/" style="background-color: #2a9d8f; color: #fff;">
                Frontend
            </a>
        
    </header>
    

    <div class="article-title-wrapper">
        <h2 class="article-title">
            <a href="/p/vue-2%E6%9D%A1%E4%BB%B6%E6%B8%B2%E6%9F%93/">【Vue 2】条件渲染</a>
        </h2>
    
        
    </div>

    
    
    
    
    <footer class="article-time">
        
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-calendar-time" width="56" height="56" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
  <path stroke="none" d="M0 0h24v24H0z"/>
  <path d="M11.795 21h-6.795a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v4" />
  <circle cx="18" cy="18" r="4" />
  <path d="M15 3v4" />
  <path d="M7 3v4" />
  <path d="M3 11h16" />
  <path d="M18 16.496v1.504l1 1" />
</svg>
                <time class="article-time--published">Sep 05, 2023</time>
            </div>
        

        
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clock" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
  <path stroke="none" d="M0 0h24v24H0z"/>
  <circle cx="12" cy="12" r="9" />
  <polyline points="12 7 12 12 15 15" />
</svg>



                <time class="article-time--reading">
                    4 minute read
                </time>
            </div>
        
    </footer>
    

    
</div>

</header>

    <section class="article-content">
    
    
    <p><strong>条件渲染相关的指令有哪些？</strong></p>
<ol>
<li>v-if、v-else、v-else-if</li>
<li>v-show</li>
</ol>
<hr>
<p><strong>v-if 的作用</strong></p>
<div class="highlight"><div class="chroma">
<table class="lntable"><tr><td class="lntd">
<pre tabindex="0" class="chroma"><code><span class="lnt">1
</span></code></pre></td>
<td class="lntd">
<pre tabindex="0" class="chroma"><code class="language-html" data-lang="html"><span class="line"><span class="cl"><span class="p">&lt;</span><span class="nt">div</span> <span class="na">v-if</span><span class="o">=</span><span class="s">&#34;expression&#34;</span><span class="p">&gt;&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
</span></span></code></pre></td></tr></table>
</div>
</div><p>v-if 根据表达式 expression 返回的值是否为 truthy 来决定其内容是否被渲染。</p>
<p>Vue还实现了 v-else 和 v-else-if：</p>
<div class="highlight"><div class="chroma">
<table class="lntable"><tr><td class="lntd">
<pre tabindex="0" class="chroma"><code><span class="lnt">1
</span><span class="lnt">2
</span><span class="lnt">3
</span></code></pre></td>
<td class="lntd">
<pre tabindex="0" class="chroma"><code class="language-html" data-lang="html"><span class="line"><span class="cl"><span class="p">&lt;</span><span class="nt">div</span> <span class="na">v-if</span><span class="o">=</span><span class="s">&#34;expression1&#34;</span><span class="p">&gt;&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
</span></span><span class="line"><span class="cl"><span class="p">&lt;</span><span class="nt">div</span> <span class="na">v-else-if</span><span class="o">=</span><span class="s">&#34;expression2&#34;</span><span class="p">&gt;&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
</span></span><span class="line"><span class="cl"><span class="p">&lt;</span><span class="nt">div</span> <span class="na">v-else</span><span class="p">&gt;&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
</span></span></code></pre></td></tr></table>
</div>
</div><p>注意，<strong>v-else-if 须紧跟在 v-if 后，v-else须紧跟在 v-if 或 v-else-if 后</strong>。</p>
<p>如果想使用 v-if 控制多个元素的渲染，可以使用 &lt;template&gt; 元素，因为它不会被包含在渲染结果内。</p>
<hr>
<p><strong>v-if 相关源码</strong></p>
<p>首先是 src\compiler\parser\index.ts ：</p>
<p>处理 HTML 元素上的 if 系列指令，获取它们的表达式 exp ,如果是 v-if 指令的话，还要将其添加到它的 ifConditions 数组。</p>
<div class="highlight"><div class="chroma">
<table class="lntable"><tr><td class="lntd">
<pre tabindex="0" class="chroma"><code><span class="lnt"> 1
</span><span class="lnt"> 2
</span><span class="lnt"> 3
</span><span class="lnt"> 4
</span><span class="lnt"> 5
</span><span class="lnt"> 6
</span><span class="lnt"> 7
</span><span class="lnt"> 8
</span><span class="lnt"> 9
</span><span class="lnt">10
</span><span class="lnt">11
</span><span class="lnt">12
</span><span class="lnt">13
</span><span class="lnt">14
</span><span class="lnt">15
</span><span class="lnt">16
</span><span class="lnt">17
</span><span class="lnt">18
</span></code></pre></td>
<td class="lntd">
<pre tabindex="0" class="chroma"><code class="language-typescript" data-lang="typescript"><span class="line"><span class="cl"><span class="kd">function</span> <span class="nx">processIf</span><span class="p">(</span><span class="nx">el</span><span class="p">)</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">  <span class="kr">const</span> <span class="nx">exp</span> <span class="o">=</span> <span class="nx">getAndRemoveAttr</span><span class="p">(</span><span class="nx">el</span><span class="p">,</span> <span class="s1">&#39;v-if&#39;</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">  <span class="k">if</span> <span class="p">(</span><span class="nx">exp</span><span class="p">)</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">    <span class="nx">el</span><span class="p">.</span><span class="k">if</span> <span class="o">=</span> <span class="nx">exp</span>
</span></span><span class="line"><span class="cl">    <span class="nx">addIfCondition</span><span class="p">(</span><span class="nx">el</span><span class="p">,</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">      <span class="nx">exp</span>: <span class="kt">exp</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">      <span class="nx">block</span>: <span class="kt">el</span>
</span></span><span class="line"><span class="cl">    <span class="p">})</span>
</span></span><span class="line"><span class="cl">  <span class="p">}</span> <span class="k">else</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">    <span class="k">if</span> <span class="p">(</span><span class="nx">getAndRemoveAttr</span><span class="p">(</span><span class="nx">el</span><span class="p">,</span> <span class="s1">&#39;v-else&#39;</span><span class="p">)</span> <span class="o">!=</span> <span class="kc">null</span><span class="p">)</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">      <span class="nx">el</span><span class="p">.</span><span class="k">else</span> <span class="o">=</span> <span class="kc">true</span>
</span></span><span class="line"><span class="cl">    <span class="p">}</span>
</span></span><span class="line"><span class="cl">    <span class="kr">const</span> <span class="nx">elseif</span> <span class="o">=</span> <span class="nx">getAndRemoveAttr</span><span class="p">(</span><span class="nx">el</span><span class="p">,</span> <span class="s1">&#39;v-else-if&#39;</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">    <span class="k">if</span> <span class="p">(</span><span class="nx">elseif</span><span class="p">)</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">      <span class="nx">el</span><span class="p">.</span><span class="nx">elseif</span> <span class="o">=</span> <span class="nx">elseif</span>
</span></span><span class="line"><span class="cl">    <span class="p">}</span>
</span></span><span class="line"><span class="cl">  <span class="p">}</span>
</span></span><span class="line"><span class="cl"><span class="p">}</span>
</span></span></code></pre></td></tr></table>
</div>
</div><p>getAndRemoveAttr 从元素中移除某个 attr ，</p>
<div class="highlight"><div class="chroma">
<table class="lntable"><tr><td class="lntd">
<pre tabindex="0" class="chroma"><code><span class="lnt"> 1
</span><span class="lnt"> 2
</span><span class="lnt"> 3
</span><span class="lnt"> 4
</span><span class="lnt"> 5
</span><span class="lnt"> 6
</span><span class="lnt"> 7
</span><span class="lnt"> 8
</span><span class="lnt"> 9
</span><span class="lnt">10
</span><span class="lnt">11
</span><span class="lnt">12
</span><span class="lnt">13
</span><span class="lnt">14
</span><span class="lnt">15
</span><span class="lnt">16
</span><span class="lnt">17
</span><span class="lnt">18
</span><span class="lnt">19
</span><span class="lnt">20
</span><span class="lnt">21
</span><span class="lnt">22
</span><span class="lnt">23
</span><span class="lnt">24
</span></code></pre></td>
<td class="lntd">
<pre tabindex="0" class="chroma"><code class="language-typescript" data-lang="typescript"><span class="line"><span class="cl"><span class="c1">// note: this only removes the attr from the Array (attrsList) so that it
</span></span></span><span class="line"><span class="cl"><span class="c1">// doesn&#39;t get processed by processAttrs.
</span></span></span><span class="line"><span class="cl"><span class="c1">// By default it does NOT remove it from the map (attrsMap) because the map is
</span></span></span><span class="line"><span class="cl"><span class="c1">// needed during codegen.
</span></span></span><span class="line"><span class="cl"><span class="c1"></span><span class="kr">export</span> <span class="kd">function</span> <span class="nx">getAndRemoveAttr</span><span class="p">(</span>
</span></span><span class="line"><span class="cl">  <span class="nx">el</span>: <span class="kt">ASTElement</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">  <span class="nx">name</span>: <span class="kt">string</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">  <span class="nx">removeFromMap?</span>: <span class="kt">boolean</span>
</span></span><span class="line"><span class="cl"><span class="p">)</span><span class="o">:</span> <span class="kt">string</span> <span class="o">|</span> <span class="kc">undefined</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">  <span class="kd">let</span> <span class="nx">val</span>
</span></span><span class="line"><span class="cl">  <span class="k">if</span> <span class="p">((</span><span class="nx">val</span> <span class="o">=</span> <span class="nx">el</span><span class="p">.</span><span class="nx">attrsMap</span><span class="p">[</span><span class="nx">name</span><span class="p">])</span> <span class="o">!=</span> <span class="kc">null</span><span class="p">)</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">    <span class="kr">const</span> <span class="nx">list</span> <span class="o">=</span> <span class="nx">el</span><span class="p">.</span><span class="nx">attrsList</span>
</span></span><span class="line"><span class="cl">    <span class="k">for</span> <span class="p">(</span><span class="kd">let</span> <span class="nx">i</span> <span class="o">=</span> <span class="mi">0</span><span class="p">,</span> <span class="nx">l</span> <span class="o">=</span> <span class="nx">list</span><span class="p">.</span><span class="nx">length</span><span class="p">;</span> <span class="nx">i</span> <span class="o">&lt;</span> <span class="nx">l</span><span class="p">;</span> <span class="nx">i</span><span class="o">++</span><span class="p">)</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">      <span class="k">if</span> <span class="p">(</span><span class="nx">list</span><span class="p">[</span><span class="nx">i</span><span class="p">].</span><span class="nx">name</span> <span class="o">===</span> <span class="nx">name</span><span class="p">)</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">        <span class="nx">list</span><span class="p">.</span><span class="nx">splice</span><span class="p">(</span><span class="nx">i</span><span class="p">,</span> <span class="mi">1</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">        <span class="k">break</span>
</span></span><span class="line"><span class="cl">      <span class="p">}</span>
</span></span><span class="line"><span class="cl">    <span class="p">}</span>
</span></span><span class="line"><span class="cl">  <span class="p">}</span>
</span></span><span class="line"><span class="cl">  <span class="k">if</span> <span class="p">(</span><span class="nx">removeFromMap</span><span class="p">)</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">    <span class="k">delete</span> <span class="nx">el</span><span class="p">.</span><span class="nx">attrsMap</span><span class="p">[</span><span class="nx">name</span><span class="p">]</span>
</span></span><span class="line"><span class="cl">  <span class="p">}</span>
</span></span><span class="line"><span class="cl">  <span class="k">return</span> <span class="nx">val</span>
</span></span><span class="line"><span class="cl"><span class="p">}</span>
</span></span></code></pre></td></tr></table>
</div>
</div><p>以后看懂了其他源码再回来补充😉</p>
<hr>
<p><strong>v-if 和 v-for一起使用时的注意点</strong></p>
<p>当 <code>v-if</code> 和 <code>v-for</code> 一起使用时，确实存在一个优先级关系：<code>v-for</code> 具有比 <code>v-if</code> 更高的优先级。这意味着 <code>v-for</code> 指令将首先对数据进行迭代，然后在每个迭代项上应用 <code>v-if</code> 条件。</p>
<p>因此，如果你的本意是先进行 v-if 的判断，那么可以在循环外套个 &lt;template&gt; 元素，把 v-if 写在 &lt;template&gt; 元素上。</p>
<hr>
<p><strong>使用 key attribute 阻止元素复用</strong></p>
<p>当组件需要进行重新渲染的时候，Vue 通过 diff 算法知道哪些元素可以复用以提高渲染效率。</p>
<p>但是有时候，我们需要切换一个全新的子元素，就比如我们前文介绍的 v-if 系列指令。</p>
<div class="highlight"><div class="chroma">
<table class="lntable"><tr><td class="lntd">
<pre tabindex="0" class="chroma"><code><span class="lnt"> 1
</span><span class="lnt"> 2
</span><span class="lnt"> 3
</span><span class="lnt"> 4
</span><span class="lnt"> 5
</span><span class="lnt"> 6
</span><span class="lnt"> 7
</span><span class="lnt"> 8
</span><span class="lnt"> 9
</span><span class="lnt">10
</span><span class="lnt">11
</span><span class="lnt">12
</span><span class="lnt">13
</span><span class="lnt">14
</span><span class="lnt">15
</span><span class="lnt">16
</span><span class="lnt">17
</span><span class="lnt">18
</span></code></pre></td>
<td class="lntd">
<pre tabindex="0" class="chroma"><code class="language-html" data-lang="html"><span class="line"><span class="cl"><span class="p">&lt;</span><span class="nt">div</span> <span class="na">id</span><span class="o">=</span><span class="s">&#34;app&#34;</span><span class="p">&gt;</span>
</span></span><span class="line"><span class="cl">    <span class="p">&lt;</span><span class="nt">input</span> <span class="na">v-if</span><span class="o">=</span><span class="s">&#34;flag&#34;</span> <span class="na">placeholder</span><span class="o">=</span><span class="s">&#34;input1&#34;</span><span class="p">&gt;</span>
</span></span><span class="line"><span class="cl">    <span class="p">&lt;</span><span class="nt">input</span> <span class="na">v-else</span> <span class="na">placeholder</span><span class="o">=</span><span class="s">&#34;input2&#34;</span><span class="p">&gt;</span>
</span></span><span class="line"><span class="cl">    <span class="p">&lt;</span><span class="nt">button</span> <span class="err">@</span><span class="na">click</span><span class="o">=</span><span class="s">&#34;toggleFlag&#34;</span><span class="p">&gt;</span>Toggle<span class="p">&lt;/</span><span class="nt">button</span><span class="p">&gt;</span>
</span></span><span class="line"><span class="cl"><span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
</span></span><span class="line"><span class="cl"><span class="p">&lt;</span><span class="nt">script</span><span class="p">&gt;</span>
</span></span><span class="line"><span class="cl">    <span class="k">new</span> <span class="nx">Vue</span><span class="p">({</span>
</span></span><span class="line"><span class="cl">        <span class="nx">el</span><span class="o">:</span> <span class="s1">&#39;#app&#39;</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">        <span class="nx">data</span><span class="o">:</span><span class="p">{</span>
</span></span><span class="line"><span class="cl">            <span class="nx">flag</span><span class="o">:</span> <span class="kc">true</span>
</span></span><span class="line"><span class="cl">        <span class="p">},</span>
</span></span><span class="line"><span class="cl">        <span class="nx">methods</span><span class="o">:</span><span class="p">{</span>
</span></span><span class="line"><span class="cl">            <span class="nx">toggleFlag</span><span class="p">(){</span>
</span></span><span class="line"><span class="cl">                <span class="k">this</span><span class="p">.</span><span class="nx">flag</span><span class="o">=!</span><span class="k">this</span><span class="p">.</span><span class="nx">flag</span><span class="p">;</span>
</span></span><span class="line"><span class="cl">            <span class="p">}</span>
</span></span><span class="line"><span class="cl">        <span class="p">}</span>
</span></span><span class="line"><span class="cl">    <span class="p">});</span>
</span></span><span class="line"><span class="cl"><span class="p">&lt;/</span><span class="nt">script</span><span class="p">&gt;</span>
</span></span></code></pre></td></tr></table>
</div>
</div><p>上面的结果是切换 input 时会保留原来的输入数据：</p>
<p><img src="https://raw.githubusercontent.com/Shadow-Kylin/BlogImages/main/202310151428680.gif"
	
	
	
	loading="lazy"
	
		alt="动画"
	
	
></p>
<p>如果你有阻止这样复用的需求，那么可以给元素添加一个唯一的 key 。</p>
<div class="highlight"><div class="chroma">
<table class="lntable"><tr><td class="lntd">
<pre tabindex="0" class="chroma"><code><span class="lnt">1
</span><span class="lnt">2
</span></code></pre></td>
<td class="lntd">
<pre tabindex="0" class="chroma"><code class="language-html" data-lang="html"><span class="line"><span class="cl"><span class="p">&lt;</span><span class="nt">input</span> <span class="na">v-if</span><span class="o">=</span><span class="s">&#34;flag&#34;</span> <span class="na">placeholder</span><span class="o">=</span><span class="s">&#34;input1&#34;</span> <span class="na">key</span><span class="o">=</span><span class="s">&#34;input1&#34;</span><span class="p">&gt;</span>
</span></span><span class="line"><span class="cl"><span class="p">&lt;</span><span class="nt">input</span> <span class="na">v-else</span> <span class="na">placeholder</span><span class="o">=</span><span class="s">&#34;input2&#34;</span> <span class="na">key</span><span class="o">=</span><span class="s">&#34;input2&#34;</span><span class="p">&gt;</span>
</span></span></code></pre></td></tr></table>
</div>
</div><p><img src="https://raw.githubusercontent.com/Shadow-Kylin/BlogImages/main/202310151428952.gif"
	
	
	
	loading="lazy"
	
		alt="在这里插入图片描述"
	
	
></p>
<hr>
<p><strong>v-show 的作用</strong></p>
<p>v-show 的用途和 v-if 指令一样，都是用于根据条件显示元素。</p>
<p>献上 v-show 源码</p>
<p>src\platforms\web\runtime\directives\show.ts</p>
<div class="highlight"><div class="chroma">
<table class="lntable"><tr><td class="lntd">
<pre tabindex="0" class="chroma"><code><span class="lnt"> 1
</span><span class="lnt"> 2
</span><span class="lnt"> 3
</span><span class="lnt"> 4
</span><span class="lnt"> 5
</span><span class="lnt"> 6
</span><span class="lnt"> 7
</span><span class="lnt"> 8
</span><span class="lnt"> 9
</span><span class="lnt">10
</span><span class="lnt">11
</span><span class="lnt">12
</span><span class="lnt">13
</span><span class="lnt">14
</span><span class="lnt">15
</span><span class="lnt">16
</span><span class="lnt">17
</span><span class="lnt">18
</span><span class="lnt">19
</span><span class="lnt">20
</span><span class="lnt">21
</span><span class="lnt">22
</span><span class="lnt">23
</span><span class="lnt">24
</span><span class="lnt">25
</span><span class="lnt">26
</span><span class="lnt">27
</span><span class="lnt">28
</span><span class="lnt">29
</span><span class="lnt">30
</span><span class="lnt">31
</span><span class="lnt">32
</span><span class="lnt">33
</span><span class="lnt">34
</span><span class="lnt">35
</span><span class="lnt">36
</span><span class="lnt">37
</span><span class="lnt">38
</span><span class="lnt">39
</span><span class="lnt">40
</span><span class="lnt">41
</span><span class="lnt">42
</span><span class="lnt">43
</span><span class="lnt">44
</span><span class="lnt">45
</span><span class="lnt">46
</span><span class="lnt">47
</span><span class="lnt">48
</span><span class="lnt">49
</span><span class="lnt">50
</span><span class="lnt">51
</span><span class="lnt">52
</span><span class="lnt">53
</span><span class="lnt">54
</span><span class="lnt">55
</span><span class="lnt">56
</span><span class="lnt">57
</span><span class="lnt">58
</span><span class="lnt">59
</span><span class="lnt">60
</span><span class="lnt">61
</span></code></pre></td>
<td class="lntd">
<pre tabindex="0" class="chroma"><code class="language-typescript" data-lang="typescript"><span class="line"><span class="cl"><span class="kr">import</span> <span class="nx">VNode</span> <span class="kr">from</span> <span class="s1">&#39;core/vdom/vnode&#39;</span>
</span></span><span class="line"><span class="cl"><span class="kr">import</span> <span class="kr">type</span> <span class="p">{</span> <span class="nx">VNodeDirective</span><span class="p">,</span> <span class="nx">VNodeWithData</span> <span class="p">}</span> <span class="kr">from</span> <span class="s1">&#39;types/vnode&#39;</span>
</span></span><span class="line"><span class="cl"><span class="kr">import</span> <span class="p">{</span> <span class="nx">enter</span><span class="p">,</span> <span class="nx">leave</span> <span class="p">}</span> <span class="kr">from</span> <span class="s1">&#39;web/runtime/modules/transition&#39;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1">// recursively search for possible transition defined inside the component root
</span></span></span><span class="line"><span class="cl"><span class="c1"></span><span class="kd">function</span> <span class="nx">locateNode</span><span class="p">(</span><span class="nx">vnode</span>: <span class="kt">VNode</span> <span class="o">|</span> <span class="nx">VNodeWithData</span><span class="p">)</span><span class="o">:</span> <span class="nx">VNodeWithData</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">  <span class="c1">// @ts-expect-error
</span></span></span><span class="line"><span class="cl"><span class="c1"></span>  <span class="k">return</span> <span class="nx">vnode</span><span class="p">.</span><span class="nx">componentInstance</span> <span class="o">&amp;&amp;</span> <span class="p">(</span><span class="o">!</span><span class="nx">vnode</span><span class="p">.</span><span class="nx">data</span> <span class="o">||</span> <span class="o">!</span><span class="nx">vnode</span><span class="p">.</span><span class="nx">data</span><span class="p">.</span><span class="nx">transition</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">    <span class="o">?</span> <span class="nx">locateNode</span><span class="p">(</span><span class="nx">vnode</span><span class="p">.</span><span class="nx">componentInstance</span><span class="p">.</span><span class="nx">_vnode</span><span class="o">!</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">    <span class="o">:</span> <span class="nx">vnode</span>
</span></span><span class="line"><span class="cl"><span class="p">}</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="kr">export</span> <span class="k">default</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">  <span class="nx">bind</span><span class="p">(</span><span class="nx">el</span>: <span class="kt">any</span><span class="p">,</span> <span class="p">{</span> <span class="nx">value</span> <span class="p">}</span><span class="o">:</span> <span class="nx">VNodeDirective</span><span class="p">,</span> <span class="nx">vnode</span>: <span class="kt">VNodeWithData</span><span class="p">)</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">    <span class="nx">vnode</span> <span class="o">=</span> <span class="nx">locateNode</span><span class="p">(</span><span class="nx">vnode</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">    <span class="kr">const</span> <span class="nx">transition</span> <span class="o">=</span> <span class="nx">vnode</span><span class="p">.</span><span class="nx">data</span> <span class="o">&amp;&amp;</span> <span class="nx">vnode</span><span class="p">.</span><span class="nx">data</span><span class="p">.</span><span class="nx">transition</span>
</span></span><span class="line"><span class="cl">    <span class="kr">const</span> <span class="nx">originalDisplay</span> <span class="o">=</span> <span class="p">(</span><span class="nx">el</span><span class="p">.</span><span class="nx">__vOriginalDisplay</span> <span class="o">=</span>
</span></span><span class="line"><span class="cl">      <span class="nx">el</span><span class="p">.</span><span class="nx">style</span><span class="p">.</span><span class="nx">display</span> <span class="o">===</span> <span class="s1">&#39;none&#39;</span> <span class="o">?</span> <span class="s1">&#39;&#39;</span> <span class="o">:</span> <span class="nx">el</span><span class="p">.</span><span class="nx">style</span><span class="p">.</span><span class="nx">display</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">    <span class="k">if</span> <span class="p">(</span><span class="nx">value</span> <span class="o">&amp;&amp;</span> <span class="nx">transition</span><span class="p">)</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">      <span class="nx">vnode</span><span class="p">.</span><span class="nx">data</span><span class="p">.</span><span class="nx">show</span> <span class="o">=</span> <span class="kc">true</span>
</span></span><span class="line"><span class="cl">      <span class="nx">enter</span><span class="p">(</span><span class="nx">vnode</span><span class="p">,</span> <span class="p">()</span> <span class="o">=&gt;</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">        <span class="nx">el</span><span class="p">.</span><span class="nx">style</span><span class="p">.</span><span class="nx">display</span> <span class="o">=</span> <span class="nx">originalDisplay</span>
</span></span><span class="line"><span class="cl">      <span class="p">})</span>
</span></span><span class="line"><span class="cl">    <span class="p">}</span> <span class="k">else</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">      <span class="nx">el</span><span class="p">.</span><span class="nx">style</span><span class="p">.</span><span class="nx">display</span> <span class="o">=</span> <span class="nx">value</span> <span class="o">?</span> <span class="nx">originalDisplay</span> <span class="o">:</span> <span class="s1">&#39;none&#39;</span>
</span></span><span class="line"><span class="cl">    <span class="p">}</span>
</span></span><span class="line"><span class="cl">  <span class="p">},</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">  <span class="nx">update</span><span class="p">(</span><span class="nx">el</span>: <span class="kt">any</span><span class="p">,</span> <span class="p">{</span> <span class="nx">value</span><span class="p">,</span> <span class="nx">oldValue</span> <span class="p">}</span><span class="o">:</span> <span class="nx">VNodeDirective</span><span class="p">,</span> <span class="nx">vnode</span>: <span class="kt">VNodeWithData</span><span class="p">)</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">    <span class="cm">/* istanbul ignore if */</span>
</span></span><span class="line"><span class="cl">    <span class="k">if</span> <span class="p">(</span><span class="o">!</span><span class="nx">value</span> <span class="o">===</span> <span class="o">!</span><span class="nx">oldValue</span><span class="p">)</span> <span class="k">return</span>
</span></span><span class="line"><span class="cl">    <span class="nx">vnode</span> <span class="o">=</span> <span class="nx">locateNode</span><span class="p">(</span><span class="nx">vnode</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">    <span class="kr">const</span> <span class="nx">transition</span> <span class="o">=</span> <span class="nx">vnode</span><span class="p">.</span><span class="nx">data</span> <span class="o">&amp;&amp;</span> <span class="nx">vnode</span><span class="p">.</span><span class="nx">data</span><span class="p">.</span><span class="nx">transition</span>
</span></span><span class="line"><span class="cl">    <span class="k">if</span> <span class="p">(</span><span class="nx">transition</span><span class="p">)</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">      <span class="nx">vnode</span><span class="p">.</span><span class="nx">data</span><span class="p">.</span><span class="nx">show</span> <span class="o">=</span> <span class="kc">true</span>
</span></span><span class="line"><span class="cl">      <span class="k">if</span> <span class="p">(</span><span class="nx">value</span><span class="p">)</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">        <span class="nx">enter</span><span class="p">(</span><span class="nx">vnode</span><span class="p">,</span> <span class="p">()</span> <span class="o">=&gt;</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">          <span class="nx">el</span><span class="p">.</span><span class="nx">style</span><span class="p">.</span><span class="nx">display</span> <span class="o">=</span> <span class="nx">el</span><span class="p">.</span><span class="nx">__vOriginalDisplay</span>
</span></span><span class="line"><span class="cl">        <span class="p">})</span>
</span></span><span class="line"><span class="cl">      <span class="p">}</span> <span class="k">else</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">        <span class="nx">leave</span><span class="p">(</span><span class="nx">vnode</span><span class="p">,</span> <span class="p">()</span> <span class="o">=&gt;</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">          <span class="nx">el</span><span class="p">.</span><span class="nx">style</span><span class="p">.</span><span class="nx">display</span> <span class="o">=</span> <span class="s1">&#39;none&#39;</span>
</span></span><span class="line"><span class="cl">        <span class="p">})</span>
</span></span><span class="line"><span class="cl">      <span class="p">}</span>
</span></span><span class="line"><span class="cl">    <span class="p">}</span> <span class="k">else</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">      <span class="nx">el</span><span class="p">.</span><span class="nx">style</span><span class="p">.</span><span class="nx">display</span> <span class="o">=</span> <span class="nx">value</span> <span class="o">?</span> <span class="nx">el</span><span class="p">.</span><span class="nx">__vOriginalDisplay</span> <span class="o">:</span> <span class="s1">&#39;none&#39;</span>
</span></span><span class="line"><span class="cl">    <span class="p">}</span>
</span></span><span class="line"><span class="cl">  <span class="p">},</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">  <span class="nx">unbind</span><span class="p">(</span>
</span></span><span class="line"><span class="cl">    <span class="nx">el</span>: <span class="kt">any</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">    <span class="nx">binding</span>: <span class="kt">VNodeDirective</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">    <span class="nx">vnode</span>: <span class="kt">VNodeWithData</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">    <span class="nx">oldVnode</span>: <span class="kt">VNodeWithData</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">    <span class="nx">isDestroy</span>: <span class="kt">boolean</span>
</span></span><span class="line"><span class="cl">  <span class="p">)</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">    <span class="k">if</span> <span class="p">(</span><span class="o">!</span><span class="nx">isDestroy</span><span class="p">)</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">      <span class="nx">el</span><span class="p">.</span><span class="nx">style</span><span class="p">.</span><span class="nx">display</span> <span class="o">=</span> <span class="nx">el</span><span class="p">.</span><span class="nx">__vOriginalDisplay</span>
</span></span><span class="line"><span class="cl">    <span class="p">}</span>
</span></span><span class="line"><span class="cl">  <span class="p">}</span>
</span></span><span class="line"><span class="cl"><span class="p">}</span>
</span></span></code></pre></td></tr></table>
</div>
</div><p>locateNode 函数递归寻找当前 vnode 外层具有 transition 属性的 vnode。</p>
<p>最后使用 export default 导出了一个<a class="link" href="https://blog.csdn.net/2201_75288929/article/details/132307348?csdn_share_tail=%7B%22type%22%3A%22blog%22%2C%22rType%22%3A%22article%22%2C%22rId%22%3A%22132307348%22%2C%22source%22%3A%222201_75288929%22%7D"  target="_blank" rel="noopener"
    >自定义指令</a>的配置。</p>
<p>该自定义指令的bind函数的流程分析：</p>
<p>首先找寻外层具有 transtion 属性的 vnode，</p>
<div class="highlight"><div class="chroma">
<table class="lntable"><tr><td class="lntd">
<pre tabindex="0" class="chroma"><code><span class="lnt">1
</span></code></pre></td>
<td class="lntd">
<pre tabindex="0" class="chroma"><code class="language-typescript" data-lang="typescript"><span class="line"><span class="cl"><span class="nx">vnode</span> <span class="o">=</span> <span class="nx">locateNode</span><span class="p">(</span><span class="nx">vnode</span><span class="p">)</span>
</span></span></code></pre></td></tr></table>
</div>
</div><p>保存其 transition 属性值（如果不存在为false），</p>
<div class="highlight"><div class="chroma">
<table class="lntable"><tr><td class="lntd">
<pre tabindex="0" class="chroma"><code><span class="lnt">1
</span></code></pre></td>
<td class="lntd">
<pre tabindex="0" class="chroma"><code class="language-typescript" data-lang="typescript"><span class="line"><span class="cl"><span class="kr">const</span> <span class="nx">transition</span> <span class="o">=</span> <span class="nx">vnode</span><span class="p">.</span><span class="nx">data</span> <span class="o">&amp;&amp;</span> <span class="nx">vnode</span><span class="p">.</span><span class="nx">data</span><span class="p">.</span><span class="nx">transition</span>
</span></span></code></pre></td></tr></table>
</div>
</div><p>保存其原始的 display属性，如果本来 el.style.display 的值就为 none，那么 originalDisplay 为 空字符串<code>''</code>，</p>
<div class="highlight"><div class="chroma">
<table class="lntable"><tr><td class="lntd">
<pre tabindex="0" class="chroma"><code><span class="lnt">1
</span><span class="lnt">2
</span></code></pre></td>
<td class="lntd">
<pre tabindex="0" class="chroma"><code class="language-typescript" data-lang="typescript"><span class="line"><span class="cl"><span class="kr">const</span> <span class="nx">originalDisplay</span> <span class="o">=</span> <span class="p">(</span><span class="nx">el</span><span class="p">.</span><span class="nx">__vOriginalDisplay</span> <span class="o">=</span>
</span></span><span class="line"><span class="cl">      <span class="nx">el</span><span class="p">.</span><span class="nx">style</span><span class="p">.</span><span class="nx">display</span> <span class="o">===</span> <span class="s1">&#39;none&#39;</span> <span class="o">?</span> <span class="s1">&#39;&#39;</span> <span class="o">:</span> <span class="nx">el</span><span class="p">.</span><span class="nx">style</span><span class="p">.</span><span class="nx">display</span><span class="p">)</span>
</span></span></code></pre></td></tr></table>
</div>
</div><p>判断指令的绑定表达式的值及是否是过渡组件，</p>
<p>如果绑定值为真值且是过渡组件，则调用 enter 函数进入过渡动画；</p>
<p>如果绑定值为假值，设置元素的 display 属性为 none；</p>
<p>如果绑定值是真值但不是过渡组件，设置元素的 display 属性为 originalDisplay，</p>
<div class="highlight"><div class="chroma">
<table class="lntable"><tr><td class="lntd">
<pre tabindex="0" class="chroma"><code><span class="lnt">1
</span><span class="lnt">2
</span><span class="lnt">3
</span><span class="lnt">4
</span><span class="lnt">5
</span><span class="lnt">6
</span><span class="lnt">7
</span><span class="lnt">8
</span></code></pre></td>
<td class="lntd">
<pre tabindex="0" class="chroma"><code class="language-typescript" data-lang="typescript"><span class="line"><span class="cl"><span class="k">if</span> <span class="p">(</span><span class="nx">value</span> <span class="o">&amp;&amp;</span> <span class="nx">transition</span><span class="p">)</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">  <span class="nx">vnode</span><span class="p">.</span><span class="nx">data</span><span class="p">.</span><span class="nx">show</span> <span class="o">=</span> <span class="kc">true</span>
</span></span><span class="line"><span class="cl">  <span class="nx">enter</span><span class="p">(</span><span class="nx">vnode</span><span class="p">,</span> <span class="p">()</span> <span class="o">=&gt;</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">    <span class="nx">el</span><span class="p">.</span><span class="nx">style</span><span class="p">.</span><span class="nx">display</span> <span class="o">=</span> <span class="nx">originalDisplay</span>
</span></span><span class="line"><span class="cl">  <span class="p">})</span>
</span></span><span class="line"><span class="cl"><span class="p">}</span> <span class="k">else</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">  <span class="nx">el</span><span class="p">.</span><span class="nx">style</span><span class="p">.</span><span class="nx">display</span> <span class="o">=</span> <span class="nx">value</span> <span class="o">?</span> <span class="nx">originalDisplay</span> <span class="o">:</span> <span class="s1">&#39;none&#39;</span>
</span></span><span class="line"><span class="cl"><span class="p">}</span>
</span></span></code></pre></td></tr></table>
</div>
</div><p>所以，说这么多，<strong>v-show 的本质上是通过 元素的 display attribute 来控制其显示</strong>。</p>
<hr>
<p><strong>v-show 和 v-if 的区别在哪里？</strong></p>
<p>v-show 本质上是切换元素的 CSS 属性 display 控制元素的可见性。</p>
<p>v-if 是直接创建或销毁DOM。</p>
<p>因此，<strong>频繁切换元素使用 v-show，否则使用 v-if</strong>。</p>

</section>


    <footer class="article-footer">
    
    <section class="article-tags">
        
            <a href="/tags/vue-2/">Vue 2</a>
        
    </section>


    </footer>


    
</article>

    

    

<aside class="related-content--wrapper">
    <h2 class="section-title">Related content</h2>
    <div class="related-content">
        <div class="flex article-list--tile">
            
                
<article class="">
    <a href="/p/vue-2props/">
        
        

        <div class="article-details">
            <h2 class="article-title">【Vue 2】Props</h2>
        </div>
    </a>
</article>

            
                
<article class="">
    <a href="/p/vue-2%E7%BB%84%E4%BB%B6%E9%97%B4%E7%9A%84%E9%80%9A%E4%BF%A1%E6%96%B9%E5%BC%8F/">
        
        

        <div class="article-details">
            <h2 class="article-title">【Vue 2】组件间的通信方式</h2>
        </div>
    </a>
</article>

            
                
<article class="">
    <a href="/p/vue-2%E8%BF%87%E6%B8%A1/">
        
        

        <div class="article-details">
            <h2 class="article-title">【Vue 2】过渡</h2>
        </div>
    </a>
</article>

            
                
<article class="">
    <a href="/p/vue-2nexttick%E6%96%B9%E6%B3%95%E5%BC%82%E6%AD%A5%E6%9B%B4%E6%96%B0%E4%BA%8B%E4%BB%B6%E5%BE%AA%E7%8E%AF/">
        
        

        <div class="article-details">
            <h2 class="article-title">【Vue 2】nextTick方法、异步更新、事件循环</h2>
        </div>
    </a>
</article>

            
                
<article class="">
    <a href="/p/vue-2mixin/">
        
        

        <div class="article-details">
            <h2 class="article-title">【Vue 2】Mixin</h2>
        </div>
    </a>
</article>

            
        </div>
    </div>
</aside>

     
    
        
    

    <footer class="site-footer">
    <section class="copyright">
        &copy; 
        
            2020 - 
        
        2023 Shadow Kylin
    </section>
    
    <section class="powerby">
        Built with <a href="https://gohugo.io/" target="_blank" rel="noopener">Hugo</a> <br />
        Theme <b><a href="https://github.com/CaiJimmy/hugo-theme-stack" target="_blank" rel="noopener" data-version="3.21.0">Stack</a></b> designed by <a href="https://jimmycai.com" target="_blank" rel="noopener">Jimmy</a>
    </section>
</footer>


    
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    
    <div class="pswp__bg"></div>

    
    <div class="pswp__scroll-wrap">

        
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                
                
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div><script 
                src="https://cdn.jsdelivr.net/npm/photoswipe@4.1.3/dist/photoswipe.min.js"integrity="sha256-ePwmChbbvXbsO02lbM3HoHbSHTHFAeChekF1xKJdleo="crossorigin="anonymous"
                defer
                >
            </script><script 
                src="https://cdn.jsdelivr.net/npm/photoswipe@4.1.3/dist/photoswipe-ui-default.min.js"integrity="sha256-UKkzOn/w1mBxRmLLGrSeyB4e1xbrp4xylgAWb3M42pU="crossorigin="anonymous"
                defer
                >
            </script><link 
                rel="stylesheet" 
                href="https://cdn.jsdelivr.net/npm/photoswipe@4.1.3/dist/default-skin/default-skin.min.css"crossorigin="anonymous"
            ><link 
                rel="stylesheet" 
                href="https://cdn.jsdelivr.net/npm/photoswipe@4.1.3/dist/photoswipe.min.css"crossorigin="anonymous"
            >

            </main>
        </div>
        <script 
                src="https://cdn.jsdelivr.net/npm/node-vibrant@3.1.6/dist/vibrant.min.js"integrity="sha256-awcR2jno4kI5X0zL8ex0vi2z&#43;KMkF24hUW8WePSA9HM="crossorigin="anonymous"
                
                >
            </script><script type="text/javascript" src="/ts/main.js" defer></script>
<script>
    (function () {
        const customFont = document.createElement('link');
        customFont.href = "https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap";

        customFont.type = "text/css";
        customFont.rel = "stylesheet";

        document.head.appendChild(customFont);
    }());
</script>

    </body>
</html>
